#header-index {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 45px 10px 10px;
}

#index-nav {
    padding-right: 15px;
}

#contato-nav {
    padding-right: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    text-align: center;
    padding-right: 85px;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding-top: 180px;
}

.footer-row span {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer {
    font-size: 14px;
}

#title-index {
    font-size: 40px;
    color: #551f1f;
}